.cvPersonalInfo,
.cvExperiences,
.cvEducation,
.cvPersonalSkills {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.cvPersonalInfo p {
    margin: 0;
    margin-top: 10px;
}
.cvPersonalInfo h1 {
    margin: 0;
    margin-top: 5px;
}
.cvPersonalInfo span>svg {
    padding-right: 5px;
    width: 20px;
    height: auto;
}

.cvIndividualExperience {
    display: block;
    margin-top: 10px;
}

.cvEducation h2,
.cvExperiences h2 {
    margin: 0;
    margin-top: 30px;
}

.cvPersonalInfo p.aboutMe {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.cvIndividualSkills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 0;
}

.cvIndividualSkill {
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
}