.cvExperiences {
    display: flex;
    flex-direction: column;
}
.cvPersonalInfo {
    display: flex;
    flex-direction: column;
}
.cvPersonalInfo p {
    margin: 0;
    margin-top: 10px;
}
.cvPersonalInfo h1 {
    margin: 0;
    margin-top: 5px;
}
.cvPersonalInfo span>svg {
    padding-right: 5px;
    width: 20px;
    height: auto;
}

.individualExperience {
    display: block;
}

.cvEducation {
    display: flex;
    flex-direction: column;
}

.cvEducation h2,
.cvExperiences h2 {
    margin: 0;
    margin-top: 30px;
}

.cvPersonalInfo p.aboutMe {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}