.cvExperiences {
    display: flex;
    flex-direction: column;
}
.cvPersonalInfo {
    display: flex;
    flex-direction: column;
}
.cvPersonalInfo p {
    margin: 0;
    margin-top: 5px;
}
.cvPersonalInfo h1 {
    margin: 0;
    margin-top: 5px;
}
.individualExperience {
    display: block;
}

.cvEducation {
    display: flex;
    flex-direction: column;
}