div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
fieldset {
  border-radius: 5px;
}
legend {
  font-size: 20px;
}
label {
  font-size: 18px;
  display: block;
  margin-top: 7px;
  margin-bottom: 3px;
}
span.required {
  color: red;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  max-width: 350px;
  min-width: 300px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  transform: scale(1.05);
}

input[type="submit"],
input[type="button"] {
  margin-top: 7px;
  display: block;
  width: fit-content;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  border: 0.5px solid grey;
  border-radius: 5px;
}

textarea {
  min-width: 300px;
  max-width: 350px;
  min-height: 250px;
  resize: none;
}

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
.experiences h3 {
  margin-top: 25px;
  margin-bottom: 0;
}
.individualExperiences {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
    list-style-type: none;
}

.individualExperiences li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualExperiences p {
    margin: 0px;
}
.individualExperiences button {
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px;
    border-width: 0.5px;
}

span{
    color: red;
}

.formButtons {
    display: flex;
    gap: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: min-content;
}

.skills h3 {
  margin-bottom: 0;
  margin-top: 30px;
}

.displaySkills {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  gap: 15px;
}

.individualSkill {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0;
}

.removeSkill {
  background-color: white;
  border: none;
}
.removeSkill:hover {
  color: red;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
