.forms {
  margin: 10px 100px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cv {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
}

@media print {
  .cv {
    margin: 50px 100px ;
    width: 100%;
    align-items: flex-start;
  }
  .forms {
    display: none;
  }
  .cvIndividualExperience,
  .cvPersonalSkills,
  .cvEducation,
  .cvPersonalInfo {
    page-break-inside: avoid;
  }
}

@media (max-width: 800px) {
  .forms {
    align-items: center;
    margin: 0;
  }
}
