.wrapper {
    display: flex;
    justify-content: center;
}
.forms {
    margin: 10px 50px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media print {
    .forms {
        display: none;
    }
}