#root {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    #root {
        flex-wrap: wrap;
        justify-content: center;
    }
}